extends layout

block content
    section#about.light-bg
      .container
        .row
          .col-lg-12.text-center
            .section-title
              h2 About
              p
                | We specialize in tours to Ireland but are always expanding and enhancing our wide range of offers, as well as adding new and exciting tours of Britain, Italy, Eastern Europe, Mexico and the Caribbean.
                br
                strong Nantes Is More Than A Theme, It&rsquo;s A Powerful Design Tool
        .row
          // about module
          .col-md-3.text-center
            .mz-module
              .mz-module-about
                i.fa.fa-briefcase.color1.ot-circle
                h3 Case Travel
                p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
              a.mz-module-button(href='#') read more
          // end about module
          // about module
          .col-md-3.text-center
            .mz-module
              .mz-module-about
                i.fa.fa-photo.color2.ot-circle
                h3 Map
                p
                  | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
              a.mz-module-button(href='#') read more
          // end about module
          // about module
          .col-md-3.text-center
            .mz-module
              .mz-module-about
                i.fa.fa-camera-retro.color3.ot-circle
                h3 Photography
                p Accusamus et iusto odio dignissimos ducimus qui blanditiis
              a.mz-module-button(href='#') read more
          // end about module
          // about module
          .col-md-3.text-center
            .mz-module
              .mz-module-about
                i.fa.fa-cube.color4.ot-circle
                h3 Help You
                p  Itaque earum rerum hic tenetur a sapiente, ut aut reiciendis maiores
              a.mz-module-button(href='#') read more
          // end about module
      // /.container
