extends layout

block content
    header
      .container-fluid
        .slider-container
          .owl-slider.owl-carousel
            .item
              .owl-slider-item
                img.img-responsive(src='https://planetofhotels.com/sites/default/files/attracrions/statuya_svobody_1.jpg', alt='portfolio')
                .intro-text
                  .intro-lead-in We are the number one
                  .intro-heading Trevel &amp; Trevel Agency
            .item
              .owl-slider-item
                img.img-responsive(src='https://static.tonkosti.ru/images/e/e5/%D0%92%D0%B8%D0%B4_%D1%81_%D0%B2%D0%BE%D0%B7%D0%B4%D1%83%D1%85%D0%B0_%D0%BD%D0%B0_%D0%A5%D1%80%D0%B8%D1%81%D1%82%D0%B0_%D0%98%D1%81%D0%BA%D1%83%D0%BF%D0%B8%D1%82%D0%B5%D0%BB%D1%8F_%D0%B2_%D0%A0%D0%B8%D0%BE-%D0%B4%D0%B5-%D0%96%D0%B0%D0%BD%D0%B5%D0%B9%D1%80%D0%BE%2C_%D0%91%D1%80%D0%B0%D0%B7%D0%B8%D0%BB%D0%B8%D1%8F.jpg', alt='portfolio')
                .intro-text
                  .intro-lead-in We are the number one
                  .intro-heading Trevel &amp; Trevel Agency
            .item
              .owl-slider-item
                img.img-responsive(src='https://planetofhotels.com/sites/default/files/attracrions/statuya_svobody_1.jpg', alt='portfolio')
                .intro-text
                  .intro-lead-in We are the number one
                  .intro-heading Trevel &amp; Trevel Agency
    section#portfolio.light-bg
      .container
        .row
          .col-lg-12.text-center
            .section-title
              h2 Portfolio
              p
                | Our portfolio is the best way to show our work, you can see here a big range of our work. Check them all and you will find what you are looking for.
        .row.row-0-gutter
          // start portfolio item
          .col-md-4.col-0-gutter
            .ot-portfolio-item
              figure.effect-bubba
                img.img-responsive(src='http://www.flavoronmain.com/wp-content/uploads/2015/04/DSC_0515-640x422.jpg', alt='img02')
                figcaption
                  h2 Dean &amp; Letter
                  p Branding, Design
                  a(href='#', data-toggle='modal', data-target='#Modal-1') View more
          // end portfolio item
          // start portfolio item
          .col-md-4.col-0-gutter
            .ot-portfolio-item
              figure.effect-bubba
                img.img-responsive(src='https://png.pngtree.com/thumb_back/fh260/photos/md/2018-01-17/seattle_city_town_usa_waterfront_seaside.jpg', alt='img02')
                figcaption
                  h2 Startup Framework
                  p Branding, Web Design
                  a(href='#', data-toggle='modal', data-target='#Modal-2') View more
          // end portfolio item
          // start portfolio item
          .col-md-4.col-0-gutter
            .ot-portfolio-item
              figure.effect-bubba
                img.img-responsive(src='http://www.flavoronmain.com/wp-content/uploads/2015/04/DSC_0515-640x422.jpg', alt='img02')
                figcaption
                  h2 Lamp &amp; Velvet
                  p Branding, Web Design
                  a(href='#', data-toggle='modal', data-target='#Modal-3') View more
          // end portfolio item
        .row.row-0-gutter
          // start portfolio item
          .col-md-4.col-0-gutter
            .ot-portfolio-item
              figure.effect-bubba
                img.img-responsive(src='https://png.pngtree.com/thumb_back/fh260/photos/md/2018-01-17/seattle_city_town_usa_waterfront_seaside.jpg', alt='img02')
                figcaption
                  h2 Smart Name
                  p Branding, Design
                  a(href='#', data-toggle='modal', data-target='#Modal-4') View more
          // end portfolio item
          // start portfolio item
          .col-md-4.col-0-gutter
            .ot-portfolio-item
              figure.effect-bubba
                img.img-responsive(src='https://media-cdn.tripadvisor.com/media/photo-s/0d/f5/0d/a6/nyc-at-night-bus-tour.jpg', alt='img02')
                figcaption
                  h2 Fast People
                  p Branding, Web Design
                  a(href='#', data-toggle='modal', data-target='#Modal-5') View more
          // end portfolio item
          // start portfolio item
          .col-md-4.col-0-gutter
            .ot-portfolio-item
              figure.effect-bubba
                img.img-responsive(src='https://cdn.kaplaninternational.com/sites/default/files/styles/585x390/public/country/photos/usa.jpg?itok=zXEuyATO', alt='img02')
                figcaption
                  h2 Kites &amp; Stars
                  p Branding, Web Design
                  a(href='#', data-toggle='modal', data-target='#Modal-2') View more
          // end portfolio item
      // end container





